.mainContainer {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem 2rem 0 2rem;
}

@media (max-width: 1360px) {
    .mainContainer {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
    .amenitiesBox {
        text-align: center;
    }
  }

.formContainer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formBody {
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
}

.formField {
    margin: 0.5rem;
}

.btnWrapper {
    margin: 1rem 0 0 0;
}

.amenitiesContainer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}
.amenitiesBox {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.amenities {
    list-style: none;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amenity {
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.amenity img {
    padding-left: 1rem;
}