*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(244, 244, 244);
}

@font-face {
  font-family: 'Hellix SemiBold';
  src: url('/public/fonts/Hellix-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}