.mapEmbed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: var(--bg-color);
}

.spanTxt {
    background-color: #ff6600;
    color: white;
    font-family: Hellix-SemiBold;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 1rem;
}